<form id='new-snake-form' action='/snakes' method='post'>
  <div class='row'>
    <div class='large-2 columns'></div>
    <div class='large-8 columns input-group'>
      <span class='input-group-label'>Name:</span>
      <input class='input-group-field' type='text' name='name' />
    </div>
  </div>
  <div class='row'>
    <div class='large-2 columns'></div>
    <div class='large-8 columns input-group'>
      <span class='input-group-label'>Species:</span>
      <input class='input-group-field' type='text' name='species' />
    </div>
  </div>
  <div class='row'>
    <div class='large-2 columns'>
      <input type='submit' value='submit' />
      <input type='button' value='Return to Index' />
    </div>
  </div>
</form>
