<h1>All the snakes</h1>
<div class='snakes'>
  <ul>
    <% @snakes.each do |snake| %>
    <li class='snake'>
      <%= snake.name %>
    </li>
    <% end %>
  </ul>
</div>

<%# "hello" %> <!-- Does not output -->
<%#= "hello" %><!-- outputs whatever is inside -->
