<li class='snake'>
  <%= snake.name %> <em>(<%= snake.species %>)</em>
  <form action="/snakes/<%= snake.id %>" method='post'>
    <input type='hidden' name='_method' value='delete' />
    <input type='submit' value='DELETE SNAKE' />
  </form>
</li>
