<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Foundation | Welcome</title>

  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
<!--
  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.css' />
  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css' />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js'></script>

 -->  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/foundation.min.js"></script>

  <!-- application.css is where you put your styles -->

  <link rel="stylesheet" href="/css/application.css">

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

  <script src="/js/application.js"></script>

</head>
<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text"><a href='/'>Snakes</a></li>
        <li><a href="/snakes/new">Make a snake</a></li>
      </ul>
    </div>
    <div class='top-bar-right'>
      <ul class='menu'>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </div>

  <div class="callout large primary">
    <div class="row column text-center">
      <h1>Welcome to the DBC Snake Pit</h1>
      <h2 class="subheader">A fantastic blog about Copperheads</h2>
    </div>
  </div>

  <div class='content'>
    <div class='row'>
      <div class='large-offset-1 large-10 columns'>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
